doctype html
html(lang="es")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		link(rel="stylesheet", type="text/css", href="css/bootstrap.min.css")
		link(rel="stylesheet", type="text/css", href="css/main.css")
		script(src="js/jquery.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous")
		script(src="js/bootstrap.min.js")
		script(src="js/fontawesome-all.js")
		script(src="js/main.js")
		title Login
	body(style="background-color: #191919; color: #fff;")
		.container
			.jumbotron(style="margin-top: 2rem; background-color: #202020; color: #fff;")
				h1.f-roboto-l Welcome, #{userName}!
				p.lead Yor password is #{password}.
				form(method="post", action="/logout")
					button.btn.btn-danger(type='submit') Logout :(